*{
  margin: 0;
  padding: 0;
  }
  body,footer{
    background-color: lightgrey;
    font-family:"Proxima Nova","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif,sans-serif
  }
  
  header{
    background-color: lightslategray; 
    padding: .5em;
  }
  
  a{
    text-decoration: none;
    color: black;
  }
  
  